@model IEnumerable<StockManager.Data.Data.Entities.WarehouseReturn>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromWarehouseRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToWarehouseRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalGarmentsQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalBoxesQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalUnitsQty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromWarehouseRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToWarehouseRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGarmentsQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBoxesQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalUnitsQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarehouseReturnID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WarehouseReturnID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WarehouseReturnID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
