@model StockManager.Data.Data.Entities.shopReturns

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>shopReturns</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtyReturned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtyReturned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReturnID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
