@model StockManager.Data.Data.Entities.Deliveries
@{
    ViewData["Title"] = "Edit";
}
<h2>Deliveries</h2>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DeliveryID" class="control-label"></label>
                <input asp-for="DeliveryID" readonly="readonly" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="OurRef" class="control-label"></label>
                <input asp-for="OurRef" class="form-control" />
                <span asp-validation-for="OurRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierRef" class="control-label"></label>
                <input asp-for="SupplierRef" class="form-control" />
                <span asp-validation-for="SupplierRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseRef" class="control-label"></label>
                <input asp-for="WarehouseRef" class="form-control" />
                <span asp-validation-for="WarehouseRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="TotalGarments" class="control-label"></label>
                <input asp-for="TotalGarments" class="form-control" />
                <span asp-validation-for="TotalGarments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHangers" class="control-label"></label>
                <input asp-for="TotalHangers" class="form-control" />
                <span asp-validation-for="TotalHangers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBoxes" class="control-label"></label>
                <input asp-for="TotalBoxes" class="form-control" />
                <span asp-validation-for="TotalBoxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetAmount" class="control-label"></label>
                <input asp-for="NetAmount" class="form-control" />
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCharge" class="control-label"></label>
                <input asp-for="DeliveryCharge" class="form-control" />
                <span asp-validation-for="DeliveryCharge" class="text-danger"></span>
            </div> 
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VATAmount" class="control-label"></label>
                <input asp-for="VATAmount" class="form-control" />
                <span asp-validation-for="VATAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrossAmount" class="control-label"></label>
                <input asp-for="GrossAmount" class="form-control" />
                <span asp-validation-for="GrossAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Invoice" class="control-label"></label>
                <input asp-for="Invoice" class="form-control" />
                <span asp-validation-for="Invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipper" class="control-label"></label>
                <input asp-for="Shipper" class="form-control" />
                <span asp-validation-for="Shipper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipperInvoice" class="control-label"></label>
                <input asp-for="ShipperInvoice" class="form-control" />
                <span asp-validation-for="ShipperInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>        
    </div>
    <div class="row">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OurRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SupplierRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WarehouseRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Season)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalGarments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalHangers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalBoxes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NetAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryCharge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Commission)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VATAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrossAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Invoice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shipper)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShipperInvoice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OurRef)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupplierRef)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarehouseRef)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Season)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalGarments)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalHangers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBoxes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NetAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryCharge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commission)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VATAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrossAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Invoice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shipper)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShipperInvoice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.DeliveryID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.DeliveryID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.DeliveryID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
   

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
